{% extends "adminlte/base.html" %}
{% load i18n static %}

{% block body_class %}register-page{% endblock %}

{% block body %}
 <div class="register-box">
  <div class="register-logo">
    PassKeep
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">{% trans 'Password Reset Complete' %}</p>
      {% trans 'You have successfully reset your password!. Click.' %} <a href="{% url 'keep:login' %}">{% trans 'here' %}</a> {% trans 'to login.' %}
    </div><!-- /.form-box -->
  </div><!-- /.card -->
</div><!-- /.register-box -->
{% endblock %}