{% extends "adminlte/base.html" %}
{% load i18n static %}

{% block body_class %}register-page{% endblock %}

{% block body %}
 <div class="register-box">
  <div class="register-logo">
    PassKeep
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">{% trans 'You forgot your password? Here you can easily retrieve a new password' %}</p>
      {% if form.errors %}
      <div class="alert alert-danger">{{ form.errors }}</div>
      {% endif %}
      <form action="{% url 'keep:password_reset' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="{% trans 'Email' %}" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
          </div><!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Submit' %}</button>
          </div><!-- /.col -->
        </div>
      </form>
    </div>    <!-- /.form-box -->
  </div><!-- /.card -->
</div><!-- /.register-box -->
{% endblock %}